.displayBoard {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.displayRow {
    flex: 1;
    display: flex;
}

.displayBoardItem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-aspect-ratio: 1/1) {
    .displayBoard {
        width: 95vw;
        height: 95vw;
    }
}