.inputScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.findWords {
    position: relative;
    bottom: 0;
    border: none;
    width: 300px;
    height: 70px;
    background-color: var(--main-color);
    color: white;
    border-radius: 100px;
    cursor: pointer;
    font-size: 30px;
    margin-top: 40px;
    transition: background-color 0.5s, bottom 0.1s;
}

.findWords:hover {
    bottom: 3px;
}

.promptText {
    font-size: 36px;
    color: var(--text-color);
}