.inputBoard {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.inputRow {
    flex: 1;
    display: flex;
}

.boardItem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-aspect-ratio: 1/1) {
    .inputBoard {
        width: 95vw;
        height: 95vw;
    }
}