.line {
    position: absolute;
    background-color: rgba(255, 0, 111, 0.2);
    height: min(21px, 2.45vh);
    border-radius: 100px;
}

@media (max-aspect-ratio: 1/1) {
    .line {
        height: 3.325vw;
    }
}