.loadingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loadingTextContainer {
    width: min(500px, 80vw);
}

.loadingText {
    color: var(--text-color);
    font-size: min(100px, 16vw);
}