.sizeChoice {
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
    padding: 50px;
    padding-bottom: 30px;
}

.sizeChoice:hover {
    background-color: var(--highlight-color);
}

.gridRow {
    display: flex;
}

.gridItem {
    padding: 4px;
}

.gridSquare {
    background-color: white;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    box-shadow: 1px 1px 3px #ccc;
}

.choiceText {
    margin: 0;
    margin-top: 20px;
    font-size: 48px;
    color: var(--text-color);
}