.sizeScreen {
    text-align: center;
}

.sizeHeader {
    color: var(--text-color);
    font-size: 96px;
    margin-bottom: 20px;
}

.sizeChoices {
    display: flex;
    justify-content: center;
    align-items: center;
}