*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--text-color: #564a70;
	--highlight-color: #ffdbeb;
}

body {
	margin: 0;
	background-color: #f7f7f7;
}

* {
	font-family: 'Nunito', sans-serif;
}

.backButton {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 30px;
	top: 50%;
	margin-top: -40px;
	background-color: #888;
	border: none;
	border-radius: 40px;
	cursor: pointer;
	background-image: url('assets/back.png');
	background-repeat: no-repeat;
    background-position: 20px 20px;
	transition: background-color 0.2s;
}

.backButton:hover {
	background-color: #ff4294;
}

@media (max-aspect-ratio: 1/1) {
    .backButton {
		position: static;
		margin: 0;
		margin-top: 30px;
	}
}